# Exercise Set 7: Data structuring  3

*Morning, August 15, Morning*

In this Exercise Set we finalize our work with the weather data we started working on in Exercise Set 4. We will also study a dataset of traffic data from Copenhagen to iterate through the pandas workflow once more.

In [1]:
%matplotlib inline 

import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as mpl

# Increases the plot size a little
mpl.rcParams['figure.figsize'] = 11, 6

## Exercise Section 7.1: Weather data, part 3
We continue with the final part of three exercises on structuring weather data. In this exercise you must use the function for fetching and structuring weather data which you made in Exercise 6.1.5.

> **Ex. 7.1.1:** Plot the monthly max,min, mean, first and third quartiles for maximum temperature for our station with the ID _'ITE00100550'_ in 1864. 

> *Hint*: the method `describe` computes all these measures.

In [2]:
def get_weather_data(year):
    base_url = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/{}.csv.gz'
    df_weather = pd.read_csv(base_url.format(str(year)),
                            compression='gzip',
                            header=None).iloc[:, :4] # Truncate rows to only the first 4 columns
    # name the columns
    df_weather.columns = ['station', 'datetime', 'obs_type', 'tmax_c']
    # Wrangle tempeture, it comes in tenth of degrees
    df_weather['tmax_c'] = df_weather['tmax_c'] / 10
    # Choose only the observation type TMAX
    df_select_tmax = df_weather[(df_weather.obs_type == 'TMAX')].copy()
    
    df_select_tmax['tmax_f'] = 32 + 1.8 * df_select_tmax['tmax_c']
    df_sorted = df_select_tmax.reset_index(drop=True).sort_values(by=['tmax_c'])
    return df_sorted

In [3]:
# [Answer to Ex. 7.1.1]

w1864 = get_weather_data(1864)

In [4]:
# [Answer to Ex. 4.1.3]
from pandas import DataFrame

def get_station_measurements(df: DataFrame, station_id: str) -> DataFrame:
    df_station = df.loc[(df['station'] == station_id)].copy()
    return df_station

w1864_ite = get_station_measurements(w1864, 'ITE00100550')
w1864_ite.head()
w1864_ite.tail()

          station  datetime obs_type  tmax_c  tmax_f
3279  ITE00100550  18640801     TMAX    33.5   92.30
3342  ITE00100550  18640805     TMAX    33.5   92.30
3389  ITE00100550  18640808     TMAX    34.1   93.38
3294  ITE00100550  18640802     TMAX    34.6   94.28
3405  ITE00100550  18640809     TMAX    34.8   94.64

In [5]:
from datetime import datetime

def get_month(int_format: int) -> int:
    d = pd.to_datetime(int_format, format='%Y%m%d')
    return d.month

w1864_ite['month'] = w1864_ite['datetime'].apply(get_month)

w1864_ite.head()

         station  datetime obs_type  tmax_c  tmax_f  month
237  ITE00100550  18640117     TMAX    -6.3   20.66      1
192  ITE00100550  18640114     TMAX    -5.0   23.00      1
251  ITE00100550  18640118     TMAX    -5.0   23.00      1
177  ITE00100550  18640113     TMAX    -4.3   24.26      1
207  ITE00100550  18640115     TMAX    -3.1   26.42      1

In [6]:
split_var = 'month'
apply_vars = ['tmax_c', 'tmax_f']

w1864_ite.groupby('month') \
    [apply_vars] \
    .describe()

      tmax_c                                                         tmax_f  \
       count       mean       std   min     25%    50%     75%   max  count
month
1       31.0  -0.077419  3.064605  -6.3  -2.200   0.00   1.900   5.3   31.0
2       29.0   4.134483  3.031652  -1.8   1.500   4.40   6.800   8.4   29.0
3       31.0  12.200000  2.780408   7.9  10.050  12.10  14.150  18.0   31.0
4       30.0  16.243333  4.487199   6.3  14.425  16.25  18.400  25.1   30.0
5       31.0  21.470968  3.312622  14.0  19.500  21.10  23.800  27.0   31.0
6       30.0  26.670000  2.926355  20.4  25.100  27.40  28.500  31.3   30.0
7       31.0  29.387097  1.913068  25.4  28.450  29.80  30.900  32.5   31.0
8       31.0  28.922581  3.794708  21.0  26.450  29.30  31.600  34.8   31.0
9       30.0  24.103333  3.620772  18.0  21.500  23.35  26.800  29.9   30.0
10      31.0  16.519355  2.375629  11.9  15.000  16.00  18.350  20.5   31.0
11      30.0   9.703333  2.612633   5.0   7.675  10.20  11.375  14.6   30.0
12      31.0   5.316129  2.175791   1.5   3.600   5.60   7.000   9.3   31.0


            mean       std    min     25%    50%     75%    max
month
1      31.860645  5.516290  20.66  28.040  32.00  35.420  41.54
2      39.442069  5.456973  28.76  34.700  39.92  44.240  47.12
3      53.960000  5.004734  46.22  50.090  53.78  57.470  64.40
4      61.238000  8.076958  43.34  57.965  61.25  65.120  77.18
5      70.647742  5.962719  57.20  67.100  69.98  74.840  80.60
6      80.006000  5.267438  68.72  77.180  81.32  83.300  88.34
7      84.896774  3.443522  77.72  83.210  85.64  87.620  90.50
8      84.060645  6.830474  69.80  79.610  84.74  88.880  94.64
9      75.386000  6.517389  64.40  70.700  74.03  80.240  85.82
10     61.734839  4.276132  53.42  59.000  60.80  65.030  68.90
11     49.466000  4.702739  41.00  45.815  50.36  52.475  58.28
12     41.569032  3.916423  34.70  38.480  42.08  44.600  48.74

> **Ex. 7.1.2:** Get the processed data from years 1864-1867 as a list of DataFrames. Convert the list into a single DataFrame by concatenating vertically.

In [7]:
# [Answer to Ex. 7.1.2]

years = list(range(1864, 1868))
four_year_dfs = {year:get_weather_data(year) for year in years} # dictionary of all stock price
weather_df = pd.concat(four_year_dfs, axis=0) # vertical axis
weather_df['datetime'] = pd.to_datetime(weather_df['datetime'], format='%Y%m%d')
# stock_df.plot(logy=True, figsize=(10,3))
weather_df.reset_index()
# four_year_df = [dfs_list.append(get_weather_data(year)) for year in years]

       level_0  level_1      station   datetime obs_type  tmax_c  tmax_f
0         1864      845  SZ000006717 1864-02-26     TMAX   -34.0  -29.20
1         1864      577  SZ000006717 1864-02-08     TMAX   -17.4    0.68
2         1864      699  CA006158350 1864-02-17     TMAX   -16.7    1.94
3         1864       42  SZ000006717 1864-01-03     TMAX   -16.5    2.30
4         1864       16  CA006158350 1864-01-02     TMAX   -16.1    3.02
5         1864      607  SZ000006717 1864-02-10     TMAX   -15.9    3.38
6         1864      199  EZE00100082 1864-01-14     TMAX   -15.1    4.82
7         1864      592  SZ000006717 1864-02-09     TMAX   -15.0    5.00
8         1864      741  SZ000006717 1864-02-19     TMAX   -14.7    5.54
9         1864      533  SZ000006717 1864-02-05     TMAX   -14.4    6.08
10        1864      756  SZ000006717 1864-02-20     TMAX   -14.2    6.44
11        1864      229  EZE00100082 1864-01-16     TMAX   -14.2    6.44
12        1864      714  CA006158350 1864-02-18     TMAX   -13.9    6.98
13        1864      562  SZ000006717 1864-02-07     TMAX   -13.8    7.16
14        1864      184  EZE00100082 1864-01-13     TMAX   -13.8    7.16
15        1864      726  SZ000006717 1864-02-18     TMAX   -13.3    8.06
16        1864       69  GM000004204 1864-01-05     TMAX   -12.5    9.50
17        1864      243  EZE00100082 1864-01-17     TMAX   -12.2   10.04
18        1864      273  EZE00100082 1864-01-19     TMAX   -12.2   10.04
19        1864       54  GM000004204 1864-01-04     TMAX   -12.1   10.22
20        1864     5559  SZ000006717 1864-12-23     TMAX   -11.8   10.76
21        1864     5531  CA006158350 1864-12-22     TMAX   -11.7   10.94
22        1864      265  SZ000006717 1864-01-18     TMAX   -11.6   11.12
23        1864      622  SZ000006717 1864-02-11     TMAX   -11.6   11.12
24        1864       49  GME00125218 1864-01-04     TMAX   -11.5   11.30
25        1864     1334  SZ000006717 1864-03-30     TMAX   -11.3   11.66
26        1864     5597  EZE00100082 1864-12-26     TMAX   -11.2   11.84
27        1864       72  SZ000006717 1864-01-05     TMAX   -11.1   12.02
28        1864     5567  EZE00100082 1864-12-24     TMAX   -11.0   12.20
29        1864       28  SZ000006717 1864-01-02     TMAX   -10.7   12.74
...        ...      ...          ...        ...      ...     ...     ...
29973     1867      637  ASN00090015 1867-01-25     TMAX    37.8  100.04
29974     1867     1894  ASN00074128 1867-03-14     TMAX    37.8  100.04
29975     1867     5363  CA006153192 1867-07-24     TMAX    37.8  100.04
29976     1867     1996  ASN00074128 1867-03-18     TMAX    37.8  100.04
29977     1867     1070  ASN00074128 1867-02-11     TMAX    37.8  100.04
29978     1867      615  ASN00086071 1867-01-25     TMAX    38.3  100.94
29979     1867      969  ASN00074128 1867-02-07     TMAX    38.3  100.94
29980     1867      223  ASN00074128 1867-01-09     TMAX    38.4  101.12
29981     1867      706  ASN00074128 1867-01-28     TMAX    38.9  102.02
29982     1867     9041  ASN00074128 1867-12-10     TMAX    38.9  102.02
29983     1867      664  ASN00090015 1867-01-26     TMAX    38.9  102.02
29984     1867     8411  ASN00074128 1867-11-16     TMAX    38.9  102.02
29985     1867      642  ASN00086071 1867-01-26     TMAX    39.4  102.92
29986     1867     1439  ASN00074128 1867-02-25     TMAX    40.0  104.00
29987     1867     1708  ASN00074128 1867-03-07     TMAX    40.0  104.00
29988     1867      661  ASN00074128 1867-01-26     TMAX    40.1  104.18
29989     1867      125  ASN00074128 1867-01-05     TMAX    40.1  104.18
29990     1867     9262  ASN00086071 1867-12-19     TMAX    40.3  104.54
29991     1867       21  ASN00074128 1867-01-01     TMAX    40.6  105.08
29992     1867     8753  ASN00074128 1867-11-29     TMAX    40.6  105.08
29993     1867     1467  ASN00074128 1867-02-26     TMAX    41.1  105.98
29994     1867     9069  ASN00074128 1867-12-11     TMAX    41.1  105.98
29995     1867      304  ASN00074128 1867-01-12     TMAX    41.2  106.16
29996     1867     1098  ASN00074128 1867-02-12     TMAX    41.7  107.06
29997     1867      285  ASN00086071 1867-01-12     TMAX    42.4  108.32
29998     1867       47  ASN00074128 1867-01-02     TMAX    42.8  109.04
29999     1867     9310  ASN00074128 1867-12-20     TMAX    43.3  109.94
30000     1867      375  ASN00074128 1867-01-15     TMAX    45.1  113.18
30001     1867       73  ASN00074128 1867-01-03     TMAX    46.2  115.16
30002     1867      349  ASN00074128 1867-01-14     TMAX    46.7  116.06

[30003 rows x 7 columns]

In [8]:
# Sanity check
weather_df[weather_df['datetime'] == '18640226'].head()

              station   datetime obs_type  tmax_c  tmax_f
1864 845  SZ000006717 1864-02-26     TMAX   -34.0  -29.20
     833  CA006158350 1864-02-26     TMAX    -1.1   30.02
     837  GME00125218 1864-02-26     TMAX     2.1   35.78
     842  GM000004204 1864-02-26     TMAX     2.5   36.50
     835  BE000006447 1864-02-26     TMAX     3.8   38.84

In [10]:
weather_df.head()

              station   datetime obs_type  tmax_c  tmax_f
1864 845  SZ000006717 1864-02-26     TMAX   -34.0  -29.20
     577  SZ000006717 1864-02-08     TMAX   -17.4    0.68
     699  CA006158350 1864-02-17     TMAX   -16.7    1.94
     42   SZ000006717 1864-01-03     TMAX   -16.5    2.30
     16   CA006158350 1864-01-02     TMAX   -16.1    3.02

> **Ex. 7.1.3:** Parse the station location data which you can find at https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt. Merge station locations onto the weather data spanning 1864-1867.  

> _Hint:_ The location data have the folllowing format, 

```
------------------------------
Variable   Columns   Type
------------------------------
ID            1-11   Character
LATITUDE     13-20   Real
LONGITUDE    22-30   Real
ELEVATION    32-37   Real
STATE        39-40   Character
NAME         42-71   Character
GSN FLAG     73-75   Character
HCN/CRN FLAG 77-79   Character
WMO ID       81-85   Character
------------------------------
```

> *Hint*: The station information has fixed width format - does there exist a pandas reader for that?

In [11]:
# [Answer to Ex. 7.1.3]
url = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt'

col_specs = [(0, 10), (12, 19), (21, 29), (31, 36), (38, 39), (41, 70), (72, 74), (76, 78), (80, 84)]
# col_spec = [ t for non_zero_based]

station_geo_data = pd.read_fwf(url,
                   header=None,
                   colspecs=col_specs)

In [12]:
colnames = ['id', 'latitude', 'longitude', 'elevation', 'state', 'name', 'gsn_flag', 'hcn/crn_flag', 'wmo_id']
station_geo_data.columns = colnames
station_geo_data.shape

(113933, 9)

In [13]:
station_geo_data.head()

,id,latitude,longitude,elevation,state,name,gsn_flag,hcn/crn_flag,wmo_id
0,ACW0001160,17.116,-61.783,10.0,NaN,ST JOHNS COOLIDGE FLD,NaN,NaN,NaN
1,ACW0001164,17.133,-61.783,19.0,NaN,ST JOHNS,NaN,NaN,NaN
2,AE00004119,25.333,55.517,34.0,NaN,SHARJAH INTER. AIRP,GS,NaN,4119.0
3,AEM0004119,25.255,55.364,10.0,NaN,DUBAI INTL,NaN,NaN,4119.0
4,AEM0004121,24.433,54.651,26.0,NaN,ABU DHABI INTL,NaN,NaN,4121.0

In [14]:
station_geo_data.query('latitude < 0').head()

,id,latitude,longitude,elevation,state,name,gsn_flag,hcn/crn_flag,wmo_id
219,AO00006616,-8.850,13.233,74.0,NaN,LUANDA,GS,NaN,6616.0
220,AO00006627,-11.417,15.117,1304.0,NaN,WAKU KUNGU (CELA),GS,NaN,6627.0
221,AO00006639,-14.933,13.567,1761.0,NaN,LUBANGO (SA DA BAND,GS,NaN,6639.0
222,AO00006641,-14.650,17.683,1343.0,NaN,MENONGUE (SERPA PIN,GS,NaN,6641.0
223,AO00006642,-15.200,12.150,45.0,NaN,MOCAMEDES,GS,NaN,6642.0

## Exercise Section 7.2: Traffic data in Copenhagen

In this second part of exercise set 7 you will be working with traffic data from Copenhagen Municipality.

The municipality have made the data openly available through the [opendata.dk](http://www.opendata.dk/) platform. We will use the data from traffic counters to construct a dataset of hourly traffic. We will use this data to get basic insights on the development in traffic over time and relate it to weather. The gist here is to practice a very important skill in Data Science: being able to quickly fetch data from the web and structure it so that you can work with it. Scraping usually gets a bit more advanced than what we will do today, but the following exercises should give you a taste for how it works. The bulk of these exercise, however, revolve around using the Pandas library to structure and analyze data.

### Part 7.2.a: getting some data to work with

Hence follows a simple scraping exercise where you (1) collect urls for datasets in the webpage listing data on traffic counters and (2) use these urls to load the data into one dataframe.

> **Ex. 7.2.1:** Using the requests module, extract the html markup of the webpage data.kk.dk/dataset/faste-trafiktaellinger and store it as a string in a new variable.

In [15]:
# [Answer to Ex. 7.2.1]
import requests

traffic_count_url = 'https://data.kk.dk/dataset/faste-trafiktaellinger'

response = requests.get(traffic_count_url)

print(response.text[:1000])

<!DOCTYPE html>
<!--[if IE 7]> <html lang="da_DK" class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html lang="da_DK" class="ie ie8"> <![endif]-->
<!--[if IE 9]> <html lang="da_DK" class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="da_DK"> <!--<![endif]-->
  <head>
    <!--[if lte ie 8]><script type="text/javascript" src="/fanstatic/vendor/:version:2017-02-24T11:53:25/html5.min.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="/fanstatic/vendor/:version:2017-02-24T11:53:25/select2/select2.css" />
<link rel="stylesheet" type="text/css" href="/fanstatic/css/:version:2017-02-24T11:53:25/main.min.css" />
<link rel="stylesheet" type="text/css" href="/fanstatic/vendor/:version:2017-02-24T11:53:25/font-awesome/css/font-awesome.min.css" />
<!--[if ie 7]><link rel="stylesheet" type="text/css" href="/fanstatic/vendor/:version:2017-02-24T11:53:25/font-awesome/css/font-awesome-ie7.min.css" /><![endif]-->
<link rel="stylesheet" type="text/css" href="/fanstatic/ckanext-geov

> **Ex. 7.2.2:** Using the re module, extract a list of all the urls in the html string and store them in a new variable.

> _Hint:_ Try using the re.findall method. You may want to Google around to figure out how to do this. Protip: searching for something along the lines of "extract all links in html regex python" and hitting the first StackOverflow link will probably get you farther than reading elaborate documentation.

In [16]:
# [Answer to Ex. 7.2.2]
import re

def get_all_hrefs(html_text):
    return re.findall('(?P<url>https?://[^\s]+)"', html_text)

all_links = get_all_hrefs(response.text)

print(all_links)

['https://data-kk.innocraft.cloud/', 'https://data.kk.dk/', 'https://data.kk.dk/', 'http://www.w3.org/1999/xhtml', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/dcb49b51-1a17-40f6-82b4-34eaf58bce57/download/faste-trafiktaellinger-2005.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/0bfc0425-0b2f-43b4-be71-117b4265598d/download/faste-trafiktaellinger-2006.xlsx', 'http://www.w3.org/1999/xhtml', 'http://data.kk.dk/storage/f/2015-05-11T07%3A35%3A06.512Z/faste-trafiktaellinger-2007.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/e4f321ad-76bc-483f-839e-e04cfea6bfc0/download/faste-trafiktaellinger-2008.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/bac5c582-bdd0-45db-b174-f835e82851bc/download/faste-trafiktaellinger-2009.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/a209aef9-802c-4cda-9b42-f4364877b04f/download/faste-trafiktaellinger-2010.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/8b2f60a9-17ac-437d-ae6e-ad44c0a49edd/download/faste-trafiktaellinger-2011.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/d41f5bc7-9834-4698-ad2c-3a4dc15d124a/download/faste-trafiktaellinger-2012.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/3cbd235e-9904-44b4-83f1-35630dbd8acc/download/faste-trafiktaellinger-2013.xlsx', 'http://www.w3.org/1999/xhtml', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/03f2768e-0ff0-4b42-9d3d-be268e131088/download/faste-trafiktaellinger-2014.xlsx', 'https://data.kk.dk/uploads/group/2017-03-06-105701.329474its.PNG', 'https://plus.google.com/share?url=https://data.kk.dk/dataset/faste-trafiktaellinger', 'https://twitter.com/share?url=https://data.kk.dk/dataset/faste-trafiktaellinger', 'https://www.facebook.com/sharer.php?u=https://data.kk.dk/dataset/faste-trafiktaellinger', 'http://portal.opendata.dk/dataset/open-data-dk-licens', 'http://opendefinition.org/okd/', 'https://twitter.com/datakkdk', 'http://blog.data.kk.dk', 'http://data.kk.dk/labs', 'http://kbhkort.kk.dk', 'http://opendata.dk', 'http://www.digst.dk/Servicemenu/Cookies/om-cookies']

> **Ex. 7.2.3:** Create a new variable that only contains the links that point to downloadable traffic data sheets. 

> _Hint:_ You want to filter the results from above. For example to only include urls with the term 'download' in them.

In [17]:
# [Answer to Ex. 7.2.3]

# determines if a string ends with .xlsx
def is_xlsx_file(filename: str) -> bool:
    return filename.endswith('.xlsx')

# filters a list of strings using the above is_xlsx_file function
def get_all_xlsx_links(urls):
    return list(filter(is_xlsx_file, urls))

all_xlsx_links = get_all_xlsx_links(all_links)

print(all_xlsx_links)

['https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/dcb49b51-1a17-40f6-82b4-34eaf58bce57/download/faste-trafiktaellinger-2005.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/0bfc0425-0b2f-43b4-be71-117b4265598d/download/faste-trafiktaellinger-2006.xlsx', 'http://data.kk.dk/storage/f/2015-05-11T07%3A35%3A06.512Z/faste-trafiktaellinger-2007.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/e4f321ad-76bc-483f-839e-e04cfea6bfc0/download/faste-trafiktaellinger-2008.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/bac5c582-bdd0-45db-b174-f835e82851bc/download/faste-trafiktaellinger-2009.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/a209aef9-802c-4cda-9b42-f4364877b04f/download/faste-trafiktaellinger-2010.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/8b2f60a9-17ac-437d-ae6e-ad44c0a49edd/download/faste-trafiktaellinger-2011.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/d41f5bc7-9834-4698-ad2c-3a4dc15d124a/download/faste-trafiktaellinger-2012.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/3cbd235e-9904-44b4-83f1-35630dbd8acc/download/faste-trafiktaellinger-2013.xlsx', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/03f2768e-0ff0-4b42-9d3d-be268e131088/download/faste-trafiktaellinger-2014.xlsx']

> **Ex. 7.2.4:** Using pd.read_excel method, load the datasets into a list. Your resulting variable should hold a list of Pandas dataframes.

> _Hint:_ you may want to set the skiprows= keyword argument.

In [19]:
all_xlsx_links[0]

'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/dcb49b51-1a17-40f6-82b4-34eaf58bce57/download/faste-trafiktaellinger-2005.xlsx'

In [22]:
test = pd.read_excel(all_xlsx_links[0])

In [23]:
test.head()

,Mastra,Unnamed: 1,Unnamed: 2,Talt dÃ¸gn/time matrice,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Udskr.,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Gruppe,NaN,JOSBO_01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Periode,NaN,01.01.2005-31.12.2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KÃ¸retÃ¸jsart,NaN,MOTORKTJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
test2 = pd.read_excel(all_xlsx_links[0], skiprows=10, header=0)

In [59]:
test2.head()

,Vej-Id,Vejnavn,Spor,(UTM32),(UTM32).1,Dato,kl.00-01,kl.01-02,kl.02-03,kl.03-04,...,kl.14-15,kl.15-16,kl.16-17,kl.17-18,kl.18-19,kl.19-20,kl.20-21,kl.21-22,kl.22-23,kl.23-24
0,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,01.04.2005,83,52.0,86,133,...,955.0,954.0,805.0,759.0,537.0,424.0,358.0,349.0,312.0,219.0
1,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,02.04.2005,153,135.0,95,123,...,748.0,657.0,745.0,618.0,466.0,363.0,335.0,318.0,307.0,263.0
2,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,03.04.2005,182,161.0,113,120,...,682.0,691.0,647.0,604.0,546.0,455.0,384.0,304.0,192.0,92.0
3,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,04.04.2005,57,61.0,70,125,...,804.0,947.0,839.0,702.0,513.0,410.0,372.0,340.0,194.0,97.0
4,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,05.04.2005,73,52.0,61,120,...,827.0,988.0,847.0,806.0,592.0,450.0,349.0,353.0,196.0,91.0

In [40]:
# [Answer to Ex. 7.2.4]

# log wrapper for pd.read_excel(args)
def log_read_url(url):
    print('Downloading: {}'.format(url))
    return pd.read_excel(url, skiprows=10)

traffic_list = [log_read_url(url) for url in all_xlsx_links]

Downloading: https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/dcb49b51-1a17-40f6-82b4-34eaf58bce57/download/faste-trafiktaellinger-2005.xlsx
Downloading: https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/0bfc0425-0b2f-43b4-be71-117b4265598d/download/faste-trafiktaellinger-2006.xlsx
Downloading: http://data.kk.dk/storage/f/2015-05-11T07%3A35%3A06.512Z/faste-trafiktaellinger-2007.xlsx
Downloading: https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/e4f321ad-76bc-483f-839e-e04cfea6bfc0/download/faste-trafiktaellinger-2008.xlsx
Downloading: https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/bac5c582-bdd0-45db-b174-f835e82851bc/download/faste-trafiktaellinger-2009.xlsx
Downloading: https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/a209aef9-802c-4cda-9b42-f4364877b04f/download/faste-trafiktaellinger-2010.xlsx
Downloading: https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/8b2f60a9-17ac-437d-ae6e-ad44c0a49edd/download/faste-trafiktaellinger-2011.xlsx
Downloading: https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/d41f5bc7-9834-4698-ad2c-3a4dc15d124a/download/faste-trafiktaellinger-2012.xlsx
Downloading: https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/3cbd235e-9904-44b4-83f1-35630dbd8acc/download/faste-trafiktaellinger-2013.xlsx
Downloading: https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/03f2768e-0ff0-4b42-9d3d-be268e131088/download/faste-trafiktaellinger-2014.xlsx

In [41]:
print(traffic_list)

[                       Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1  \
0      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
1      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
2      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
3      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
4      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
5      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
6      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
7      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
8      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
9      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
10     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
11     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
12     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
13     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
14     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
15     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
16     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
17     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
18     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
19     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
20     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
21     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
22     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
23     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
24     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
25     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
26     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
27     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
28     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
29     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
...                       ...           ...   ...      ...        ...
10458  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10459  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10460  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10461  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10462  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10463  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10464  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10465  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10466  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10467  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10468  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10469  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10470  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10471  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10472  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10473  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10474  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10475  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10476  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10477  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10478  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10479  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10480  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10481  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10482  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10483  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10484  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10485  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10486  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
10487  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573

             Dato  kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  \
0      01.04.2005        83      52.0        86       133  ...     955.0
1      02.04.2005       153     135.0        95       123  ...     748.0
2      03.04.2005       182     161.0       113       120  ...     682.0
3      04.04.2005        57      61.0        70       125  ...     804.0
4      05.04.2005        73      52.0        61       120  ...     827.0
5      06.04.2005        75      49.0        80       143  ...     855.0
6      07.04.2005        68      60.0        82       132  ...     860.0
7      08.04.2005        86      58.0        84       144  ...     949.0
8      09.04.2005       142     124.0       115       115  ...     708.0
9      10.04.2005       195     143.0       125       125  ...     707.0
10     11.04.2005        65      49.0        69       137  ...     885.0
11     18.04.2005       101      53.0        49        81  ...    1062.0
12     19.04.2005        87      42.0        40        71  ...    1096.0
13     20.04.2005       100      62.0        48        79  ...    1160.0
14     21.04.2005       144      78.0        57        73  ...    1189.0
15     22.04.2005       200     135.0        90       107  ...     735.0
16     23.04.2005       223     161.0       110       104  ...    1008.0
17     24.04.2005       237     169.0       112       112  ...     950.0
18     25.04.2005       108      80.0        45        61  ...    1064.0
19     26.04.2005       104      66.0        40        60  ...    1042.0
20     27.04.2005       107      62.0        51        74  ...    1089.0
21     28.04.2005       116      71.0        51        62  ...    1084.0
22     29.04.2005       121      90.0        63        86  ...    1385.0
23     30.04.2005       259     216.0       151       136  ...    1041.0
24     01.05.2005       304     233.0       176       157  ...     984.0
25     02.05.2005       117      62.0        51        77  ...    1060.0
26     03.05.2005       112      57.0        42        64  ...    1117.0
27     04.05.2005       133      66.0        62        69  ...    1141.0
28     05.05.2005       176     132.0       103        84  ...     814.0
29     06.05.2005       174     113.0        82        89  ...    1141.0
...           ...       ...       ...       ...       ...  ...       ...
10458  26.10.2005       443     265.0       172       183  ...    3428.0
10459  27.10.2005       510     325.0       211       181  ...    3432.0
10460  28.10.2005       689     427.0       298       303  ...    3690.0
10461  29.10.2005      1219     777.0       799       792  ...    2582.0
10462  01.11.2005       486     216.0        91       110  ...    3419.0
10463  02.11.2005       577     249.0       200       164  ...    3399.0
10464  03.11.2005       699     242.0       153       177  ...    3488.0
10465  04.11.2005       818     394.0       330       308  ...    3901.0
10466  05.11.2005      1494     991.0       753       713  ...    2631.0
10467  06.11.2005      1359    1063.0       914       864  ...    2539.0
10468  07.11.2005       440     145.0        85        87  ...    1485.0
10469  08.11.2005       452     177.0       110       119  ...    3315.0
10470  09.11.2005       487     198.0        92       111  ...    3513.0
10471  10.11.2005       644     228.0       110       126  ...    3469.0
10472  11.11.2005       750     258.0       254       211  ...    3865.0
10473  12.11.2005      1476     940.0       766       747  ...    2654.0
10474  13.11.2005      1423    1058.0       843       812  ...    2475.0
10475  14.11.2005       367     133.0        73        62  ...    3330.0
10476  15.11.2005       543     221.0       143       377  ...    3435.0
10477  16.11.2005       578     252.0       192       218  ...    3285.0
10478  17.11.2005       584     198.0       132       111  ...    3380.0
10479  22.11.2005       595     228.0       122       154  ...    3348.0
10480  23.11.2005       640     256.0      1180      1689  ...    3315.0
10481  24.11.2005       597     227.0       130       102  ...    3359.0
10482  25.11.2005       763     290.0       226       172  ...    3909.0
10483  26.11.2005      1728    1100.0       808       782  ...    2913.0
10484  27.11.2005      1532    1150.0       989       895  ...    2931.0
10485  28.11.2005       458     125.0        56        94  ...    3375.0
10486  29.11.2005       468     133.0        70        86  ...    3276.0
10487  30.11.2005       563     177.0        96        91  ...    3619.0

       kl.15-16  kl.16-17  kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  \
0         954.0     805.0     759.0     537.0     424.0     358.0     349.0
1         657.0     745.0     618.0     466.0     363.0     335.0     318.0
2         691.0     647.0     604.0     546.0     455.0     384.0     304.0
3         947.0     839.0     702.0     513.0     410.0     372.0     340.0
4         988.0     847.0     806.0     592.0     450.0     349.0     353.0
5         968.0     855.0     708.0     511.0     523.0     371.0     362.0
6        1000.0     808.0     745.0     519.0     425.0     405.0     341.0
7         960.0     859.0     765.0     528.0     388.0     385.0     340.0
8         661.0     656.0     584.0     410.0     401.0     357.0     327.0
9         642.0     573.0     519.0     478.0     437.0     382.0     304.0
10        922.0     783.0     667.0     488.0     405.0     341.0     352.0
11       1286.0    1418.0    1255.0    1014.0     659.0     490.0     401.0
12       1270.0    1530.0    1329.0    1078.0     637.0     528.0     428.0
13       1310.0    1487.0    1367.0    1439.0    1350.0     471.0     420.0
14       1344.0    1541.0    1458.0    1169.0     771.0     576.0     493.0
15        727.0     784.0     866.0     725.0     563.0     554.0     505.0
16        896.0     800.0     828.0     701.0     558.0     465.0     402.0
17        887.0     820.0     936.0     815.0     766.0     736.0     562.0
18       1334.0    1435.0    1234.0    1049.0     669.0     496.0     447.0
19       1149.0    1528.0    1328.0    1127.0     744.0     516.0     498.0
20       1339.0    1564.0    1275.0    1057.0     703.0     499.0     444.0
21       1321.0    1418.0    1312.0    1110.0     787.0     570.0     461.0
22       1565.0    1625.0    1514.0    1144.0     731.0     548.0     510.0
23        937.0     839.0    1039.0     863.0     636.0     462.0     435.0
24        921.0     789.0     852.0     802.0     689.0     602.0     548.0
25       1306.0    1438.0    1303.0    1085.0     634.0     469.0     449.0
26       1259.0    1620.0    1418.0    1132.0     658.0     520.0     439.0
27       1369.0    1615.0    1345.0    1130.0     732.0     568.0     506.0
28        670.0     648.0     705.0     688.0     574.0     471.0     415.0
29       1243.0    1195.0    1057.0     983.0     647.0     489.0     424.0
...         ...       ...       ...       ...       ...       ...       ...
10458    4176.0    4324.0    3660.0    2719.0    2026.0    1515.0    1539.0
10459    4002.0    4207.0    3828.0    3046.0    2180.0    1711.0    1893.0
10460    4160.0    4155.0    3531.0    2821.0    2113.0    1578.0    1454.0
10461    2419.0    2434.0    2705.0    2229.0    1700.0    1293.0    1168.0
10462    4239.0    4297.0    3797.0    2849.0    2073.0    1579.0    1494.0
10463    4301.0    4293.0    3716.0    2863.0    2038.0    1602.0    1499.0
10464    4241.0    4342.0    3881.0    3107.0    2129.0    1761.0    1599.0
10465    4187.0    4274.0    3568.0    2884.0    2077.0    1656.0    1505.0
10466    2487.0    2603.0    2599.0    2227.0    1644.0    1255.0    1274.0
10467    2457.0    2471.0    2449.0    2081.0    1602.0    1203.0    1174.0
10468    3198.0    4079.0    3505.0    2641.0    1874.0    1492.0    1389.0
10469    3980.0    4140.0    3703.0    2878.0    1942.0    1599.0    1515.0
10470    4113.0    4312.0    3542.0    2846.0    2012.0    1511.0    1474.0
10471    4163.0    4360.0    3905.0    3103.0    2036.0    1883.0    1587.0
10472    4215.0    4076.0    3662.0    2854.0    2074.0    1462.0    1358.0
10473    2432.0    2577.0    2616.0    2319.0    1608.0    1318.0    1282.0
10474    2348.0    2491.0    2501.0    2144.0    1612.0    1190.0    1155.0
10475    4256.0    4315.0    3456.0    2739.0    1839.0    1484.0    1368.0
10476    4192.0    4356.0    3721.0    2788.0    1991.0    1467.0    1413.0
10477    4270.0    4286.0    3631.0    2831.0    1924.0    1546.0    1607.0
10478    4195.0    4281.0    3732.0    3004.0    2092.0    1591.0    1552.0
10479    4185.0    4279.0    3673.0    2858.0    1951.0    1511.0    1645.0
10480    4231.0    4171.0    3734.0    2781.0    2087.0    1585.0    1551.0
10481    4167.0    4288.0    3767.0    3144.0    2112.0    1590.0    1647.0
10482    4103.0    4147.0    3835.0    3425.0    2045.0    1561.0    1434.0
10483    2800.0    2750.0    3099.0    2483.0    1787.0    1372.0    1361.0
10484    2595.0    2843.0    2748.0    2148.0    1693.0    1370.0    1338.0
10485    4225.0    4183.0    3719.0    2700.0    1960.0    1408.0    1339.0
10486    4183.0    4259.0    3834.0    2986.0    1994.0    1611.0    1485.0
10487    4240.0    4349.0    3988.0    3072.0    2387.0    1754.0    1605.0

       kl.22-23  kl.23-24
0         312.0     219.0
1         307.0     263.0
2         192.0      92.0
3         194.0      97.0
4         196.0      91.0
5         212.0     115.0
6         234.0     120.0
7         281.0     227.0
8         325.0     257.0
9         194.0      97.0
10        172.0      88.0
11        388.0     205.0
12        375.0     246.0
13        453.0     360.0
14        416.0     318.0
15        434.0     335.0
16        429.0     363.0
17        438.0     248.0
18        397.0     230.0
19        377.0     246.0
20        399.0     239.0
21        442.0     275.0
22        447.0     370.0
23        457.0     442.0
24        406.0     267.0
25        384.0     199.0
26        409.0     263.0
27        401.0     318.0
28        422.0     272.0
29        404.0     320.0
...         ...       ...
10458    1471.0     956.0
10459    1515.0    1162.0
10460    1512.0    1559.0
10461    1521.0    1551.0
10462    1457.0     827.0
10463    1414.0     900.0
10464    1539.0    1083.0
10465    1567.0    1394.0
10466    1389.0    1368.0
10467     978.0     669.0
10468    1270.0     778.0
10469    1435.0     906.0
10470    1500.0     856.0
10471    1560.0    1150.0
10472    1557.0    1507.0
10473    1407.0    1536.0
10474     951.0     565.0
10475    1295.0     770.0
10476    1348.0     840.0
10477    1435.0     892.0
10478    1583.0    1104.0
10479    1527.0     831.0
10480    1513.0     818.0
10481    1571.0    1064.0
10482    1600.0    1477.0
10483    1368.0    1314.0
10484    1062.0     585.0
10485    1314.0     665.0
10486    1535.0     859.0
10487    1578.0     990.0

[10488 rows x 30 columns],                        Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1  \
0      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
1      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
2      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
3      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
4      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
5      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
6      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
7      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
8      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
9      101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
10     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
11     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
12     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
13     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
14     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
15     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
16     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
17     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
18     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
19     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
20     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
21     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
22     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
23     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
24     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
25     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
26     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
27     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
28     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
29     101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777
...                       ...           ...   ...      ...        ...
18452  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18453  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18454  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18455  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18456  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18457  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18458  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18459  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18460  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18461  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18462  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18463  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18464  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18465  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18466  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18467  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18468  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18469  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18470  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18471  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18472  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18473  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18474  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18475  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18476  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18477  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18478  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18479  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18480  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573
18481  101 1018636-0 0/ 180 T    Ã…boulevard   NaN   723530    6176573

             Dato  kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  \
0      01.01.2006     214.0     146.0     304.0     272.0  ...     581.0
1      02.01.2006     148.0      82.0      45.0      44.0  ...     958.0
2      03.01.2006     161.0      93.0      72.0      43.0  ...     947.0

In [42]:
for df in traffic_list:
    print(df.head())
    print()

                   Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1        Dato  \
0  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  01.04.2005
1  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  02.04.2005
2  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  03.04.2005
3  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  04.04.2005
4  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  05.04.2005

   kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  kl.15-16  kl.16-17  \
0        83      52.0        86       133  ...     955.0     954.0     805.0
1       153     135.0        95       123  ...     748.0     657.0     745.0
2       182     161.0       113       120  ...     682.0     691.0     647.0
3        57      61.0        70       125  ...     804.0     947.0     839.0
4        73      52.0        61       120  ...     827.0     988.0     847.0

   kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  kl.22-23  kl.23-24
0     759.0     537.0     424.0     358.0     349.0     312.0     219.0
1     618.0     466.0     363.0     335.0     318.0     307.0     263.0
2     604.0     546.0     455.0     384.0     304.0     192.0      92.0
3     702.0     513.0     410.0     372.0     340.0     194.0      97.0
4     806.0     592.0     450.0     349.0     353.0     196.0      91.0

[5 rows x 30 columns]

                   Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1        Dato  \
0  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  01.01.2006
1  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  02.01.2006
2  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  03.01.2006
3  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  04.01.2006
4  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  05.01.2006

   kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  kl.15-16  kl.16-17  \
0     214.0     146.0     304.0     272.0  ...     581.0     608.0     650.0
1     148.0      82.0      45.0      44.0  ...     958.0     970.0    1095.0
2     161.0      93.0      72.0      43.0  ...     947.0     902.0    1109.0
3     183.0      92.0      74.0      43.0  ...    1004.0    1020.0    1144.0
4     185.0      76.0      81.0      46.0  ...     997.0     995.0    1223.0

   kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  kl.22-23  kl.23-24
0     578.0     566.0     451.0     364.0     284.0     256.0     217.0
1    1249.0    1019.0     672.0     472.0     365.0     286.0     270.0
2    1279.0    1075.0     819.0     524.0     382.0     346.0     306.0
3    1254.0     992.0     809.0     569.0     404.0     359.0     325.0
4    1336.0    1082.0     773.0     558.0     415.0     346.0     344.0

[5 rows x 30 columns]

                   Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1        Dato  \
0  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  01.01.2007
1  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  02.01.2007
2  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  03.01.2007
3  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  04.01.2007
4  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  05.01.2007

   kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  kl.15-16  kl.16-17  \
0     166.0     357.0     337.0     251.0  ...     737.0     706.0     670.0
1      69.0      60.0      52.0      50.0  ...     996.0    1130.0    1254.0
2     105.0      68.0      65.0      76.0  ...    1043.0    1279.0    1220.0
3      90.0      58.0      71.0      65.0  ...    1095.0    1226.0    1297.0
4     121.0      50.0      69.0      78.0  ...    1292.0    1418.0    1288.0

   kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  kl.22-23  kl.23-24
0     590.0     571.0     435.0     285.0     269.0     243.0     154.0
1    1009.0     805.0     528.0     359.0     363.0     280.0     183.0
2    1039.0     795.0     539.0     392.0     360.0     323.0     196.0
3    1056.0     839.0     543.0     427.0     421.0     387.0     237.0
4    1110.0     904.0     618.0     471.0     425.0     354.0     285.0

[5 rows x 30 columns]

                   Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1        Dato  \
0  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  01.01.2008
1  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  02.01.2008
2  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  03.01.2008
3  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  04.01.2008
4  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  05.01.2008

   kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  kl.15-16  kl.16-17  \
0     188.0     306.0     346.0     255.0  ...     662.0     728.0     607.0
1      70.0      59.0      58.0      82.0  ...    1000.0    1164.0    1189.0
2      96.0      80.0      51.0      77.0  ...    1049.0    1304.0    1233.0
3      96.0      87.0      51.0      82.0  ...    1174.0    1362.0    1252.0
4     183.0     114.0     106.0      87.0  ...    1115.0     904.0     779.0

   kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  kl.22-23  kl.23-24
0     539.0     481.0     397.0     314.0     253.0     241.0     163.0
1     911.0     746.0     482.0     394.0     316.0     316.0     200.0
2    1088.0     744.0     495.0     381.0     361.0     315.0     237.0
3    1054.0     768.0     519.0     445.0     324.0     355.0     255.0
4     719.0     571.0     411.0     356.0     312.0     348.0     279.0

[5 rows x 30 columns]

                   Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1        Dato  \
0  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  01.01.2009
1  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  02.01.2009
2  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  03.01.2009
3  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  04.01.2009
4  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  05.01.2009

   kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  kl.15-16  kl.16-17  \
0     271.0     385.0     327.0     258.0  ...     634.0     681.0     616.0
1      89.0      45.0      44.0      70.0  ...    1130.0    1138.0     993.0
2     145.0     128.0      80.0      79.0  ...    1062.0     918.0     766.0
3     184.0     134.0      95.0      97.0  ...    1006.0     863.0     769.0
4      79.0      61.0      59.0      83.0  ...    1009.0    1204.0    1252.0

   kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  kl.22-23  kl.23-24
0     506.0     478.0     329.0     317.0     257.0     198.0     151.0
1     806.0     677.0     485.0     381.0     361.0     281.0     241.0
2     705.0     562.0     424.0     434.0     358.0     358.0     273.0
3     601.0     587.0     414.0     314.0     341.0     257.0     127.0
4     958.0     708.0     501.0     367.0     323.0     284.0     166.0

[5 rows x 30 columns]

                   Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1        Dato  \
0  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  20.02.2010
1  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  21.02.2010
2  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  01.03.2010
3  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  02.03.2010
4  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  03.03.2010

   kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  kl.15-16  kl.16-17  \
0       NaN       NaN       NaN       NaN  ...       NaN       NaN     980.0
1    1177.0    1125.0    1223.0    1171.0  ...     157.0     100.0      69.0
2    1089.0    1116.0    1228.0    1214.0  ...     268.0     205.0     138.0
3     962.0    1142.0    1047.0    1158.0  ...     337.0     213.0     175.0
4     793.0    1031.0    1050.0    1142.0  ...     135.0     103.0      71.0

   kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  kl.22-23  kl.23-24
0     445.0     123.0     432.0     938.0    1453.0    1623.0    1429.0
1     103.0     144.0     418.0     986.0    1512.0    1505.0    1198.0
2     120.0     140.0     154.0     206.0     275.0     498.0     713.0
3     139.0     146.0     169.0     163.0     227.0     347.0     605.0
4      70.0     145.0     460.0    1000.0    1504.0    1649.0    1462.0

[5 rows x 30 columns]

                   Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1        Dato  \
0  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  01.01.2011
1  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  02.01.2011
2  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  03.01.2011
3  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  04.01.2011
4  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  05.01.2011

   kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  kl.15-16  kl.16-17  \
0     204.0     357.0     314.0     260.0  ...     581.0     607.0     522.0
1     108.0      83.0      52.0      43.0  ...     986.0     859.0     743.0
2      87.0      71.0      64.0      85.0  ...     957.0    1109.0    1162.0
3      86.0      70.0      58.0      92.0  ...     990.0    1178.0    1358.0
4      90.0      73.0      91.0     102.0  ...     966.0    1149.0    1259.0

   kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  kl.22-23  kl.23-24
0     496.0     438.0     355.0     294.0     235.0     211.0     165.0
1     690.0     502.0     408.0     332.0     285.0     272.0     163.0
2    1019.0     677.0     529.0     373.0     322.0     250.0     166.0
3    1005.0     723.0     494.0     413.0     393.0     274.0     173.0
4    1026.0     797.0     577.0     400.0     364.0     322.0     161.0

[5 rows x 30 columns]

                   Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1        Dato  \
0  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  01.01.2012
1  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  02.01.2012
2  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  03.01.2012
3  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  04.01.2012
4  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  05.01.2012

   kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  kl.15-16  kl.16-17  \
0     223.0     388.0     332.0     271.0  ...     686.0     712.0     617.0
1      73.0      49.0      46.0      76.0  ...     955.0    1120.0    1178.0
2      69.0      55.0      45.0      90.0  ...     991.0    1090.0    1090.0
3      86.0      46.0      60.0      90.0  ...     966.0    1182.0    1319.0
4      88.0      48.0      62.0      87.0  ...    1067.0    1246.0    1260.0

   kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  kl.22-23  kl.23-24
0     613.0     544.0     410.0     311.0     259.0     226.0     155.0
1     933.0     654.0     502.0     380.0     307.0     271.0     168.0
2    1071.0     707.0     498.0     478.0     360.0     295.0     186.0
3    1021.0     748.0     589.0     432.0     348.0     295.0     170.0
4     966.0     785.0     576.0     452.0     380.0     347.0     196.0

[5 rows x 30 columns]

                   Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1        Dato  \
0  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  01.01.2013
1  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  02.01.2013
2  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  03.01.2013
3  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  04.01.2013
4  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  05.01.2013

   kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  kl.15-16  kl.16-17  \
0     201.0     366.0     366.0     274.0  ...     588.0     672.0     633.0
1      88.0      60.0      60.0      65.0  ...     995.0    1148.0    1234.0
2     107.0      69.0      58.0      88.0  ...    1013.0    1285.0    1238.0
3      83.0      79.0      58.0      78.0  ...    1173.0    1278.0    1233.0
4     175.0     120.0      98.0      87.0  ...    1136.0     914.0     857.0

   kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  kl.22-23  kl.23-24
0     596.0     486.0     395.0     301.0     242.0     219.0     166.0
1     965.0     676.0     513.0     390.0     330.0     293.0     168.0
2    1012.0     802.0     562.0     453.0     339.0     326.0     183.0
3    1009.0     794.0     554.0     469.0     344.0     342.0     223.0
4     852.0     694.0     439.0     444.0     393.0     324.0     303.0

[5 rows x 30 columns]

                   Vej-Id       Vejnavn  Spor  (UTM32)  (UTM32).1        Dato  \
0  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  01.01.2014
1  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  02.01.2014
2  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  03.01.2014
3  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  04.01.2014
4  101 1011492-0 1/ 124 -  Ellebjergvej   NaN   720881    6172777  05.01.2014

   kl.00-01  kl.01-02  kl.02-03  kl.03-04  ...  kl.14-15  kl.15-16  kl.16-17  \
0       226     388.0     362.0     266.0  ...     665.0     680.0     618.0
1        70      49.0      61.0      83.0  ...    1034.0    1183.0    1074.0
2       100      70.0      66.0      82.0  ...    1146.0    1308.0    1067.0
3       143     113.0      93.0      86.0  ...     993.0     930.0     893.0
4       198     116.0      99.0     103.0  ...    1015.0     892.0     883.0

   kl.17-18  kl.18-19  kl.19-20  kl.20-21  kl.21-22  kl.22-23  kl.23-24
0     570.0     409.0     387.0     328.0     242.0     190.0     146.0
1     907.0     623.0     502.0     385.0     321.0     254.0     168.0
2     979.0     765.0     509.0     396.0     362.0     330.0     229.0
3     869.0     629.0     443.0     406.0     350.0     334.0     313.0
4     799.0     592.0     462.0     397.0     327.0     232.0     166.0

[5 rows x 30 columns]

In [ ]:
traffic_list[0].head()

> **Ex. 7.2.5:** Merge the list of dataframes into a single dataframe.

In [108]:
# [Answer to Ex. 7.2.5]
# test_df = pd.merge(traffic_list[0], traffic_list[1])
all_traffic_df = pd.concat(traffic_list, join='outer', axis=0, sort=False)
# test_df = pd.concat([traffic_list[0], traffic_list[1]], join='outer', axis=0, sort=False)

In [109]:
all_traffic_df.shape

(183397, 30)

In [110]:
all_traffic_df.tail()

,Vej-Id,Vejnavn,Spor,(UTM32),(UTM32).1,Dato,kl.00-01,kl.01-02,kl.02-03,kl.03-04,...,kl.14-15,kl.15-16,kl.16-17,kl.17-18,kl.18-19,kl.19-20,kl.20-21,kl.21-22,kl.22-23,kl.23-24
13706,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,27.12.2014,51.0,34.0,11.0,19.0,...,993.0,932.0,887.0,789.0,592.0,446.0,338.0,265.0,130.0,68.0
13707,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,28.12.2014,64.0,36.0,23.0,19.0,...,950.0,907.0,707.0,674.0,539.0,401.0,294.0,235.0,121.0,62.0
13708,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,29.12.2014,40.0,23.0,36.0,20.0,...,993.0,977.0,1036.0,794.0,677.0,584.0,420.0,345.0,124.0,66.0
13709,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,30.12.2014,65.0,36.0,23.0,17.0,...,1184.0,1169.0,1227.0,1039.0,869.0,817.0,657.0,502.0,245.0,110.0
13710,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,31.12.2014,66.0,30.0,11.0,21.0,...,760.0,464.0,291.0,234.0,86.0,93.0,68.0,83.0,81.0,76.0

### Part 7.2.b Structuring your data

If you successfully completed the previous part, you should now have a dataframe with about 183.397 rows (if your number of rows is close but not the same, worry notâ€”it matters little in the following). Well done! But the data is still in no shape for analysis, so we must clean it up a little.

161.236 rows (and 30 columns) is a lot of data. ~3.3 MB by my back-of-the-envelope calculations, so not "Big Data", but still enough to make your CPU heat up if you don't use it carefully. Pandas is built to handle fairly large dataframes and has advanced functionality to perform very fast operations even when the size of your data grows huge. So instead of working with basic Python we recommend working pandas built-in procedures as they are constructed to be fast on dataframes.

Nerd fact: the reason pandas is much faster than pure Python is that dataframes access a lower level programming languages (namely C, C++) which are multiple times faster than Python. The reason it is faster is that it has a higher level of explicitness and thus is more difficult to learn and navigate.

> **Ex. 7.2.6:** Reset the row indices of your dataframe so the first index is 0 and the last is whatever the number of rows your dataframe has. Also drop the column named 'index' and the one named `Spor`.

In [111]:
# [Answer to Ex. 7.2.6]
all_traffic_df.reset_index(drop=True) # drop=True makes sure that the index var is not saved

,Vej-Id,Vejnavn,Spor,(UTM32),(UTM32).1,Dato,kl.00-01,kl.01-02,kl.02-03,kl.03-04,...,kl.14-15,kl.15-16,kl.16-17,kl.17-18,kl.18-19,kl.19-20,kl.20-21,kl.21-22,kl.22-23,kl.23-24
0,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,01.04.2005,83.0,52.0,86.0,133.0,...,955.0,954.0,805.0,759.0,537.0,424.0,358.0,349.0,312.0,219.0
1,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,02.04.2005,153.0,135.0,95.0,123.0,...,748.0,657.0,745.0,618.0,466.0,363.0,335.0,318.0,307.0,263.0
2,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,03.04.2005,182.0,161.0,113.0,120.0,...,682.0,691.0,647.0,604.0,546.0,455.0,384.0,304.0,192.0,92.0
3,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,04.04.2005,57.0,61.0,70.0,125.0,...,804.0,947.0,839.0,702.0,513.0,410.0,372.0,340.0,194.0,97.0
4,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,05.04.2005,73.0,52.0,61.0,120.0,...,827.0,988.0,847.0,806.0,592.0,450.0,349.0,353.0,196.0,91.0
5,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,06.04.2005,75.0,49.0,80.0,143.0,...,855.0,968.0,855.0,708.0,511.0,523.0,371.0,362.0,212.0,115.0
6,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,07.04.2005,68.0,60.0,82.0,132.0,...,860.0,1000.0,808.0,745.0,519.0,425.0,405.0,341.0,234.0,120.0
7,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,08.04.2005,86.0,58.0,84.0,144.0,...,949.0,960.0,859.0,765.0,528.0,388.0,385.0,340.0,281.0,227.0
8,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,09.04.2005,142.0,124.0,115.0,115.0,...,708.0,661.0,656.0,584.0,410.0,401.0,357.0,327.0,325.0,257.0
9,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,10.04.2005,195.0,143.0,125.0,125.0,...,707.0,642.0,573.0,519.0,478.0,437.0,382.0,304.0,194.0,97.0
10,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,11.04.2005,65.0,49.0,69.0,137.0,...,885.0,922.0,783.0,667.0,488.0,405.0,341.0,352.0,172.0,88.0
11,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,18.04.2005,101.0,53.0,49.0,81.0,...,1062.0,1286.0,1418.0,1255.0,1014.0,659.0,490.0,401.0,388.0,205.0
12,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,19.04.2005,87.0,42.0,40.0,71.0,...,1096.0,1270.0,1530.0,1329.0,1078.0,637.0,528.0,428.0,375.0,246.0
13,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,20.04.2005,100.0,62.0,48.0,79.0,...,1160.0,1310.0,1487.0,1367.0,1439.0,1350.0,471.0,420.0,453.0,360.0
14,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,21.04.2005,144.0,78.0,57.0,73.0,...,1189.0,1344.0,1541.0,1458.0,1169.0,771.0,576.0,493.0,416.0,318.0
15,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,22.04.2005,200.0,135.0,90.0,107.0,...,735.0,727.0,784.0,866.0,725.0,563.0,554.0,505.0,434.0,335.0
16,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,23.04.2005,223.0,161.0,110.0,104.0,...,1008.0,896.0,800.0,828.0,701.0,558.0,465.0,402.0,429.0,363.0
17,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,24.04.2005,237.0,169.0,112.0,112.0,...,950.0,887.0,820.0,936.0,815.0,766.0,736.0,562.0,438.0,248.0
18,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,25.04.2005,108.0,80.0,45.0,61.0,...,1064.0,1334.0,1435.0,1234.0,1049.0,669.0,496.0,447.0,397.0,230.0
19,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,26.04.2005,104.0,66.0,40.0,60.0,...,1042.0,1149.0,1528.0,1328.0,1127.0,744.0,516.0,498.0,377.0,246.0
20,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,27.04.2005,107.0,62.0,51.0,74.0,...,1089.0,1339.0,1564.0,1275.0,1057.0,703.0,499.0,444.0,399.0,239.0
21,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,28.04.2005,116.0,71.0,51.0,62.0,...,1084.0,1321.0,1418.0,1312.0,1110.0,787.0,570.0,461.0,442.0,275.0
22,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,29.04.2005,121.0,90.0,63.0,86.0,...,1385.0,1565.0,1625.0,1514.0,1144.0,731.0,548.0,510.0,447.0,370.0
23,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,30.04.2005,259.0,216.0,151.0,136.0,...,1041.0,937.0,839.0,1039.0,863.0,636.0,462.0,435.0,457.0,442.0
24,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,01.05.2005,304.0,233.0,176.0,157.0,...,984.0,921.0,789.0,852.0,802.0,689.0,602.0,548.0,406.0,267.0
25,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,02.05.2005,117.0,62.0,51.0,77.0,...,1060.0,1306.0,1438.0,1303.0,1085.0,634.0,469.0,449.0,384.0,199.0
26,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,03.05.2005,112.0,57.0,42.0,64.0,...,1117.0,1259.0,1620.0,1418.0,1132.0,658.0,520.0,439.0,409.0,263.0
27,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,04.05.2005,133.0,66.0,62.0,69.0,...,1141.0,1369.0,1615.0,1345.0,1130.0,732.0,568.0,506.0,401.0,318.0
28,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,05.05.2005,176.0,132.0,103.0,84.0,...,814.0,670.0,648.0,705.0,688.0,574.0,471.0,415.0,422.0,272.0
29,101 1011492-0 1/ 124 -,Ellebjergvej,NaN,720881,6172777,06.05.2005,174.0,113.0,82.0,89.0,...,1141.0,1243.0,1195.0,1057.0,983.0,647.0,489.0,424.0,404.0,320.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183367,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,02.12.2014,33.0,22.0,20.0,18.0,...,800.0,984.0,779.0,706.0,549.0,443.0,265.0,202.0,101.0,73.0
183368,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,03.12.2014,28.0,20.0,16.0,13.0,...,718.0,984.0,915.0,764.0,646.0,474.0,298.0,159.0,106.0,80.0
183369,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,04.12.2014,34.0,32.0,20.0,26.0,...,786.0,865.0,940.0,865.0,651.0,496.0,387.0,232.0,147.0,72.0
183370,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,05.12.2014,45.0,21.0,18.0,24.0,...,931.0,1085.0,943.0,789.0,616.0,426.0,300.0,216.0,162.0,141.0
183371,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,06.12.2014,89.0,79.0,66.0,44.0,...,912.0,874.0,770.0,654.0,521.0,411.0,244.0,166.0,154.0,119.0
183372,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,07.12.2014,76.0,78.0,51.0,53.0,...,893.0,842.0,818.0,624.0,424.0,383.0,238.0,177.0,95.0,68.0
183373,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,08.12.2014,25.0,30.0,20.0,17.0,...,694.0,887.0,917.0,722.0,499.0,462.0,265.0,174.0,107.0,53.0
183374,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,09.12.2014,37.0,23.0,21.0,27.0,...,732.0,956.0,943.0,749.0,603.0,477.0,288.0,191.0,113.0,59.0
183375,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,10.12.2014,35.0,25.0,22.0,17.0,...,837.0,1091.0,1040.0,929.0,685.0,502.0,310.0,188.0,95.0,76.0
183376,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,11.12.2014,51.0,35.0,20.0,28.0,...,869.0,1038.0,999.0,843.0,696.0,487.0,311.0,198.0,110.0,74.0
183377,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,12.12.2014,41.0,29.0,21.0,26.0,...,1064.0,1094.0,1006.0,776.0,619.0,461.0,304.0,254.0,177.0,161.0
183378,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,13.12.2014,111.0,108.0,44.0,58.0,...,984.0,912.0,799.0,698.0,521.0,377.0,225.0,180.0,148.0,100.0
183379,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,14.12.2014,66.0,54.0,60.0,41.0,...,834.0,799.0,802.0,661.0,501.0,349.0,233.0,156.0,80.0,49.0
183380,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,15.12.2014,39.0,18.0,15.0,15.0,...,877.0,976.0,1010.0,823.0,644.0,451.0,326.0,239.0,106.0,68.0
183381,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,16.12.2014,41.0,35.0,26.0,20.0,...,893.0,1011.0,977.0,894.0,642.0,519.0,412.0,298.0,131.0,60.0
183382,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,17.12.2014,31.0,39.0,13.0,14.0,...,870.0,1001.0,1065.0,853.0,697.0,520.0,370.0,315.0,145.0,71.0
183383,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,18.12.2014,33.0,9.0,22.0,14.0,...,959.0,1281.0,1205.0,931.0,815.0,684.0,514.0,381.0,169.0,76.0
183384,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,19.12.2014,54.0,25.0,18.0,37.0,...,1008.0,1162.0,1024.0,909.0,683.0,612.0,402.0,395.0,182.0,110.0
183385,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,20.12.2014,79.0,39.0,52.0,39.0,...,1068.0,1012.0,898.0,854.0,638.0,515.0,416.0,350.0,171.0,94.0
183386,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,21.12.2014,64.0,55.0,34.0,26.0,...,963.0,893.0,859.0,808.0,648.0,527.0,436.0,340.0,168.0,74.0
183387,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,22.12.2014,35.0,29.0,15.0,18.0,...,1083.0,1203.0,1122.0,966.0,927.0,956.0,658.0,567.0,260.0,80.0
183388,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,23.12.2014,45.0,26.0,24.0,17.0,...,1005.0,1148.0,975.0,829.0,744.0,711.0,583.0,445.0,190.0,83.0
183389,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,24.12.2014,25.0,25.0,10.0,6.0,...,280.0,258.0,215.0,123.0,61.0,50.0,62.0,93.0,151.0,230.0
183390,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,25.12.2014,150.0,72.0,32.0,16.0,...,219.0,208.0,153.0,137.0,141.0,116.0,123.0,83.0,92.0,66.0
183391,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,26.12.2014,42.0,26.0,12.0,18.0,...,229.0,229.0,159.0,180.0,176.0,164.0,138.0,121.0,86.0,62.0
183392,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,27.12.2014,51.0,34.0,11.0,19.0,...,993.0,932.0,887.0,789.0,592.0,446.0,338.0,265.0,130.0,68.0
183393,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,28.12.2014,64.0,36.0,23.0,19.0,...,950.0,907.0,707.0,674.0,539.0,401.0,294.0,235.0,121.0,62.0
183394,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,29.12.2014,40.0,23.0,36.0,20.0,...,993.0,977.0,1036.0,794.0,677.0,584.0,420.0,345.0,124.0,66.0
183395,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,30.12.2014,65.0,36.0,23.0,17.0,...,1184.0,1169.0,1227.0,1039.0,869.0,817.0,657.0,502.0,245.0,110.0
183396,101 1018541-0 3/ 638 T,Ã˜restads Boulevard,NaN,725458,6171542,31.12.2014,66.0,30.0,11.0,21.0,...,760.0,464.0,291.0,234.0,86.0,93.0,68.0,83.0,81.0,76.0

In [112]:
# Drop the 'Spor' column from the dataframe
all_traffic_df.drop('Spor', axis=1, inplace=True)

In [113]:
all_traffic_df.head()

,Vej-Id,Vejnavn,(UTM32),(UTM32).1,Dato,kl.00-01,kl.01-02,kl.02-03,kl.03-04,kl.04-05,...,kl.14-15,kl.15-16,kl.16-17,kl.17-18,kl.18-19,kl.19-20,kl.20-21,kl.21-22,kl.22-23,kl.23-24
0,101 1011492-0 1/ 124 -,Ellebjergvej,720881,6172777,01.04.2005,83.0,52.0,86.0,133.0,314.0,...,955.0,954.0,805.0,759.0,537.0,424.0,358.0,349.0,312.0,219.0
1,101 1011492-0 1/ 124 -,Ellebjergvej,720881,6172777,02.04.2005,153.0,135.0,95.0,123.0,145.0,...,748.0,657.0,745.0,618.0,466.0,363.0,335.0,318.0,307.0,263.0
2,101 1011492-0 1/ 124 -,Ellebjergvej,720881,6172777,03.04.2005,182.0,161.0,113.0,120.0,164.0,...,682.0,691.0,647.0,604.0,546.0,455.0,384.0,304.0,192.0,92.0
3,101 1011492-0 1/ 124 -,Ellebjergvej,720881,6172777,04.04.2005,57.0,61.0,70.0,125.0,312.0,...,804.0,947.0,839.0,702.0,513.0,410.0,372.0,340.0,194.0,97.0
4,101 1011492-0 1/ 124 -,Ellebjergvej,720881,6172777,05.04.2005,73.0,52.0,61.0,120.0,311.0,...,827.0,988.0,847.0,806.0,592.0,450.0,349.0,353.0,196.0,91.0

> **Ex. 7.2.7:** Rename variables from Danish to English using the dictionary below.

```python 
dk_to_uk = {
    'Vejnavn':'road_name',
    '(UTM32)':'UTM32_north',
    '(UTM32).1':'UTM32_east',
    'Dato':'date',
    'Vej-Id':'road_id'
}
```

In [118]:
# [Answer to Ex. 7.2.7]
dk_to_uk = {
    'Vejnavn':'road_name',
    '(UTM32)':'UTM32_north',
    '(UTM32).1':'UTM32_east',
    'Dato':'date',
    'Vej-Id':'road_id'
}

all_traffic_df.rename(columns = dk_to_uk, inplace=True)

In [119]:
all_traffic_df.head()

,road_id,road_name,UTM32_north,UTM32_east,date,kl.00-01,kl.01-02,kl.02-03,kl.03-04,kl.04-05,...,kl.14-15,kl.15-16,kl.16-17,kl.17-18,kl.18-19,kl.19-20,kl.20-21,kl.21-22,kl.22-23,kl.23-24
0,101 1011492-0 1/ 124 -,Ellebjergvej,720881,6172777,01.04.2005,83.0,52.0,86.0,133.0,314.0,...,955.0,954.0,805.0,759.0,537.0,424.0,358.0,349.0,312.0,219.0
1,101 1011492-0 1/ 124 -,Ellebjergvej,720881,6172777,02.04.2005,153.0,135.0,95.0,123.0,145.0,...,748.0,657.0,745.0,618.0,466.0,363.0,335.0,318.0,307.0,263.0
2,101 1011492-0 1/ 124 -,Ellebjergvej,720881,6172777,03.04.2005,182.0,161.0,113.0,120.0,164.0,...,682.0,691.0,647.0,604.0,546.0,455.0,384.0,304.0,192.0,92.0
3,101 1011492-0 1/ 124 -,Ellebjergvej,720881,6172777,04.04.2005,57.0,61.0,70.0,125.0,312.0,...,804.0,947.0,839.0,702.0,513.0,410.0,372.0,340.0,194.0,97.0
4,101 1011492-0 1/ 124 -,Ellebjergvej,720881,6172777,05.04.2005,73.0,52.0,61.0,120.0,311.0,...,827.0,988.0,847.0,806.0,592.0,450.0,349.0,353.0,196.0,91.0

Python is quite efficient. For example, when you create a new dataframe by manipulating an old one, Python notices thatâ€”apart from some minor changesâ€”these two objects are almost the same. Since memory is a precious resource, Python will represent the values in the new dataframe as references to the variables in the old dataset. This is great for performance, but if you for whatever reason change some of the values in your old dataframe, values in the new one will also changeâ€”and we don't want that! Luckily, we can break this dependency.

> **Ex. 7.2.8:** Break the dependencies of the dataframe that resulted from Ex. 7.2.7 using the `.copy` method. Delete all other dataframes.

In [120]:
# [Answer to Ex. 7.2.8]
# As I choose to use inplace=True in all command, we actually don't have any other 'waste' data frames lying around

Once you have structured appropriately, something that you will want to do again and again is selecting subsets of the data. Specifically, it means that you select specific rows in the dataset based on some column values.

>**Ex. 7.2.9:** Create a new column in the dataframe called total that is True when the last letter of road_id is T and otherwise False.

> _Hint:_ you will need the `pd.Series.str` attribute for this.

In [ ]:
# [Answer to Ex. 7.2.9]

> **Ex. 7.2.10:** Select rows where total is True. Delete all the remaining observations.

In [ ]:
# [Answer to Ex. 7.2.10]

> **Ex. 7.2.11:** Make two datasets based on the lists of columns below. Call the dataset with spatial columns data_geo and the other data.

```python
# Columns for `geo_data`, stored in `geo_columns`
spatial_columns = ['road_name', 'UTM32_north', 'UTM32_east']

# Columns for `data`, stored in `select_columns`
hours = ['kl.{}-{}'.format(str(h).zfill(2), str(h+1).zfill(2)) for h in range(24)]
select_columns = ['road_name', 'date'] + hours
```

In [ ]:
# [Answer to Ex. 7.2.11]

> **Ex. 7.2.12:** Drop the duplicate rows in data_geo.

In [ ]:
# [Answer to Ex. 7.2.12]

**Formatting: wide and narrow format**

When talking about two-dimensional data (matrices, tables or dataframes, we can call it many things), we can either say that it is in wide or long format (see explanation here, "wide" and "long" are used interchangably). In Pandas we can use the commands stack and unstack to move between these formats.

The wide format has the advantage that it often requires less storage and is easier to read when printed. On the other hand the long format can be easier for modelling, because each observation has its own row. Turns out that the latter is what we most often need.

> **Ex. 7.2.13:** Turn the dataset from wide to long so hourly data is now vertically stacked. Store this dataset in a dataframe called data. Name the column with hourly information hour_period. 

> _Hint:_ pandas' melt function may be of use.

In [ ]:
# [Answer to Ex. 7.2.13]

**Categorical data**

Categorical data can contain Python objects, usually strings. These are smart if you have variables with string observations that are long and often repeated, e.g. with road names.

> **Ex. 7.2.14:** Use the `.astype` method to convert the type of the road_name column to categorical.

In [ ]:
# [Answer to Ex. 7.2.14]

### Structure temporal data

Pandas has native support for working with temporal data. This is handy as much 'big data' often has time stamps which we can make Pandas aware of. Once we have encoded temporal data it can be used to extract information such as the hour, second etc.

> **Ex. 7.2.15:** Create a new column called hour which contains the hour-of-day for each row.

In [ ]:
# [Answer to Ex. 7.2.15]

>**Ex. 7.2.16:** Create a new column called time, that contains the time of the row in datetime format. Delete the old temporal columns (hour, hour_period, date) to save memory.

> _Hint:_ try making an intermediary series of strings that has all temporal information for the row; then use pandas to_datetime function where you can specify the format of the date string.

In [ ]:
# [Answer to Ex. 7.2.16]

> **Ex. 7.2.17:** Using your time column make a new column called weekday which stores the weekday (in values between 0 and 6) of the corresponding datetime.

> _Hint:_ try using the dt method for the series called time; dt has some relevant methods itself.

In [ ]:
# [Answer to Ex. 7.2.17]

### Statistical descriptions of traffic data

> **Ex. 7.2.18:** Print the "descriptive statistics" of the traffic column. Also show a kernel density estimate of the values.

> _Hint:_ Use the describe method of pandas dataframes for the first task. Use seaborn for the second.

In [ ]:
# [Answer to Ex. 7.2.18]

> **Ex. 7.2.19:** Which road has the most average traffic?

In [ ]:
# [Answer to Ex. 7.2.19]

> **Ex. 7.2.20:** Compute annual, average road traffic during day hours (9-17). Which station had the least traffic in 2013? Which station has seen highest growth in traffic from 2013 to 2014?

In [58]:
# [Answer to Ex. 7.2.19]